@using NureStatistic.BLL.Dto;
@model UniversityDto

<div class="container">
  <div class="row">
    <div class="col m6">
      <label for="date-from">From</label>
      <input id="date-from" type="date" class="datepicker" data-is-date-from="true">
    </div>

    <div class="col m6">
      <label for="date-to">To</label>
      <input id="date-to" type="date" class="datepicker" data-is-date-to="true">
    </div>
  </div>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header" title="@Model.FullName">@Model.ShortName<i class="material-icons">send</i>
      </div>
      <div class="collapsible-body">
        <ul class="collapsible" data-collapsible="expandable">
          @foreach (var faculty in Model.Faculties)
          {
            <li>
              <div class="collapsible-header" title="@faculty.FullName">@faculty.ShortName<i class="material-icons">send</i>
              </div>
              <div class="collapsible-body">
                <ul class="collapsible" data-collapsible="expandable">
                  @foreach (var department in faculty.Departments)
                  {
                    <li>
                      <div class="collapsible-header" title="@department.FullName">@department.ShortName<i class="material-icons">send</i>
                      </div>
                      <div class="collapsible-body">
                        <ul class="collection">
                          @foreach (var teacher in department.Teachers)
                          {
                            <li class="collection-item" title="@teacher.FullName"><a href="" data-teacher-id="@teacher.Id">@teacher.ShortName</a></li>
                          }
                        </ul>
                      </div>
                    </li>
                  }
                </ul>
              </div>
            </li>
          }
        </ul>
      </div>
    </li>
  </ul>
</div>

<script src="~/js/teacher.js"></script>